<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789498134131-e2o86mt89h32eivl9tkj6lvkam4l63l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789498134131-e2o86mt89h32eivl9tkj6lvkam4l63l8</string>
	<key>API_KEY</key>
	<string>AIzaSyAHSsEkq03LovfRGRG0GuayD4ehuxUmfLs</string>
	<key>GCM_SENDER_ID</key>
	<string>789498134131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-e81a4</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-e81a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789498134131:ios:7237f2c07bcf505d5cb406</string>
</dict>
</plist>